*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    @apply bg-main-color;
}

.btn {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
}

#shopping {
    @media (max-width: 768px) {
        .p-badge {
            margin: 0;
        }
        .p-button-label {
            display: none;
        }
    }
}

#header-nav.p-menubar-mobile {
    .p-menuitem {
        .p-menuitem-content {
            .p-menuitem-link {
                span {
                    color: #4b5563;
                }
                i {
                    color: #4b5563;
                }
            }
        }
    }
}
#header-nav {
    .p-menubar
        .p-menuitem:not(.p-highlight):not(.p-disabled)
        > .p-menuitem-content:hover {
        color: #4b5563;
    }
    .p-menubar
        .p-menubar-root-list
        > .p-menuitem:not(.p-highlight):not(.p-disabled)
        > .p-menuitem-content:hover {
        background: var(--text-color);
    }
    .p-submenu-list {
        .p-menuitem {
            .p-menuitem-content {
                .p-menuitem-link {
                    color: black;
                }
            }
        }
    }
    .p-menuitem-content {
        .p-menuitem-link {
            color: white;
        }
    }
    .p-submenu-list {
        border-radius: 5px;
    }
}
@media (max-width: 1280px) {
    .p-menubar-root-list {
        width: 200px;
        border-radius: 5px;
    }
}
